<div class="navbar">
  <div class="menuImg" #menuIcon (click)="toggleMenu()">
    <i class="fas fa-bars"></i>
  </div>

  <div class="menu" #menu [class.active]="menuAtivo">
    <a href="/imovel">Imóveis</a>
    <a href="/meus-interesses">Interesses</a>
    <a href="/home">Logout</a>
  </div>

  <div class="logo">
    <img src="assets/img/logo.png" alt="logo">
  </div>

  <div class="user" *ngIf="authService.currentUser$ | async as user">
  <i class="fas fa-user-circle"></i>
  <span class="user-name">
    {{ user.perfil === 'admin' ? 'ADM' : user.nome }}
  </span>
</div>
</div>

<div class="cards-container">
  <div class="card-imovel" *ngFor="let imovel of imoveisFavoritos">
    <div class="container-img">
      <img *ngIf="imovel.imagemUrl" [src]="imovel.imagemUrl" alt="Imagem" />
      <span *ngIf="!imovel.imagemUrl">Imagem</span>
    </div>
    <div class="preco-tipo">
      R$ {{ imovel.aluguel | number }} Aluguel
    </div>
    <div class="detalhes">
      {{ imovel.caracteristicas.tamanho }} m² - {{ imovel.caracteristicas.quartos }} quartos
    </div>
    <div class="endereco">
      {{ imovel.endereco }}<br>
      {{ imovel.cidade }}
    </div>
  </div>
</div>
