<div class="navbar">
  <div class="menuImg" #menuIcon (click)="toggleMenu()">
    <i class="fas fa-bars"></i>
  </div>

  <div class="menu" #menu [class.active]="menuAtivo">
    <a href="/home">Logout</a>
  </div>

  <div class="logo">
    <img src="assets/img/logo.png" alt="logo">
  </div>

  <div class="user" *ngIf="authService.currentUser$ | async as user">
    <i class="fas fa-user-circle"></i>
    <span class="user-name">
      {{ user.perfil === 'admin' ? 'ADM' : user.nome }}
    </span>
  </div>
</div>

<button class="adicionar" (click)="iradicionarImovel()" type="submit">
  <i class="fas fa-plus"></i>Adicionar Novo Imóvel
</button>

<div class="lista-imoveis">
  <div class="card-imovel" *ngFor="let imovel of meusImoveis">
    <div class="img-container">
      <img *ngIf="imovel.imagemUrl" [src]="imovel.imagemUrl" alt="Imagem">
      <span *ngIf="!imovel.imagemUrl">Sem imagem</span>
    </div>

    <div class="info">
      <h3>{{ imovel.titulo }}</h3>
      <p>R$ {{ imovel.total }}</p>
      <h3 class="cidade">{{ imovel.cidade }}</h3>
    </div>

  <i class="fas fa-heart heart-icon" (click)="interessados()"></i>

    <div class="acoes">
      <button (click)="editarImovel(imovel.id!)" class="btn editar">
        <i class="fas fa-edit"></i> Editar
      </button>
      <button (click)="excluirImovel(imovel.id!)" class="btn excluir">
        <i class="fas fa-trash"></i> Excluir
      </button>
    </div>
  </div>
</div>

  <div class="footer">
    <div class="icons">
      <i class="fa-brands fa-google"></i>
      <a href="https://github.com/Senai4/imobiliaria"><i class="fa-brands fa-github"></i></a>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
