<div class="navbar">
  <div class="menuImg" #menuIcon (click)="toggleMenu()">
    <i class="fas fa-bars"></i>
  </div>

  <div class="menu" #menu [class.active]="menuAtivo">
    <a href="/imoveis">Imóveis</a>
    <a href="/meus-interesses">Interesses</a>
    <a href="/home">Logout</a>
  </div>

  <div class="logo">
    <img src="assets/img/logo.png" alt="logo">
  </div>

  <div class="user" *ngIf="authService.currentUser$ | async as user">
  <i class="fas fa-user-circle"></i>
  <span class="user-name">
    {{ user.perfil === 'admin' ? 'ADM' : user.nome }}
  </span>
</div>
</div>

<!-- Filtros de busca -->
<div class="container">
  <div class="filtros">
    <div class="filtro-localizacao-wrapper">
      <i class="fas fa-map-marker-alt"></i>
      <input type="text" placeholder="Localização" class="filtro-localizacao" [(ngModel)]="localizacao"
        name="localizacao">
    </div>

    <select class="filtro-tipo-negocio" [(ngModel)]="tipoNegocio" name="tipoNegocio">
      <option>Alugar</option>
      <option>Vender</option>
    </select>

    <select class="filtro-valor" [(ngModel)]="valor" name="valor">
      <option>Valor</option>
      <option>Até R$ 1.000</option>
      <option>Até R$ 5.000</option>
      <option>Acima de R$ 5.000</option>
    </select>

    <select class="filtro-tipo-imovel" [(ngModel)]="tipoImovel" name="tipoImovel">
      <option>Tipo de Imóvel</option>
      <option>Apartamento</option>
      <option>Casa</option>
      <option>Terreno</option>
    </select>

    <button class="btn-pesquisar" (click)="realizarPesquisa()" *ngIf="!filtroAtivo">Pesquisar</button>
    <button class="btn-limpar" (click)="limparFiltros()" *ngIf="filtroAtivo">Limpar</button>
  </div>
</div>

<!-- Cards de imóveis -->
<div class="cards-container">
  <div class="card-imovel" *ngFor="let imovel of imoveis">
    <div class="container-img">
      <img *ngIf="imovel.imagemUrl" [src]="imovel.imagemUrl" alt="Imagem" class="img-card-imovel" />
      <span *ngIf="!imovel.imagemUrl">Imagem</span>
    </div>
    <div class="preco-tipo">
      R$ {{ imovel.aluguel | number }} Aluguel
      <span class="favorito" (click)="toggleFavorito(imovel.id)">
          <i [ngClass]="isFavorito(imovel.id) ? 'fas fa-heart text-red' : 'far fa-heart'"></i>
      </span>
    </div>
    <div class="detalhes">
      {{ imovel.caracteristicas.tamanho }} m² - {{ imovel.caracteristicas.quartos }} quartos
    </div>
    <div class="endereco">
      {{ imovel.endereco }}<br>
      {{ imovel.cidade }}
    </div>
  </div>
</div>

<div class="footer">
  <div class="icons">
    <i class="fa-brands fa-google"></i>
    <a href="https://github.com/Senai4/imobiliaria"><i class="fa-brands fa-github"></i></a>
    <i class="fa-brands fa-linkedin"></i>
  </div>
</div>
