<div class="navbar">
  <div class="logo">
    <img src="assets/img/logo.png" alt="Logo">
  </div>

  <div class="user">
    <i class="fas fa-user-circle"></i>
    <span class="user-name" *ngIf="authService.currentUser$ | async as user">
      {{ user.perfil === 'admin' ? 'ADM' : user.nome }}
    </span>
  </div>
</div>

<!-- Ícone de seta para Imovel -->
<div class="volta-imovel">
  <a routerLink="/imovel" title="Ir para Imovel">
    <i class="fas fa-arrow-left"></i>
  </a>
</div>

<!-- Container com Informações -->
<div class="container" *ngIf="imovelDetalhado">
  <div class="container-card">
    <div class="container-img">
      <img [src]="imovelDetalhado.imagemUrl" alt="Imagem" class="img-foto-principal">
      <div class="miniatura">
      </div>
    </div>

  <div class="informacoes">

    <div class="valores-linha">
        <span class="label">Aluguel:</span>
        <p class="preco">R$ {{ imovelDetalhado.aluguel | number:'1.2-2' }}</p>

        <span class="label">Condominio:</span>
        <p class="condominio">R$ {{ imovelDetalhado.condominio | number:'1.2-2' }}</p>

        <span class="label">IPTU:</span>
        <p class="iptu">R$ {{ imovelDetalhado.iptu | number:'1.2-2' }}</p>

        <div class="favorite">
            <span class="favorito" (click)="toggleFavorito(imovelDetalhado!.id); $event.stopPropagation()">
                <i [ngClass]="isFavorito(imovelDetalhado!.id) ? 'fas fa-heart text-red' : 'far fa-heart'"></i>
            </span>
        </div>
    </div>

    <span class="label">Seguro Incêndio:</span>
    <p class="seguro">R$ {{ imovelDetalhado.seguroincendio | number:'1.2-2' }}</p>
    <span class="label">Taxa de Serviço:</span>
    <p class="servico">R$ {{ imovelDetalhado.taxaservico | number:'1.2-2' }}</p>
    <span class="label">Total:</span>
    <p class="total">R$ {{ imovelDetalhado.total | number:'1.2-2' }}</p>

</div>
  </div>

  <div class="detalhes">
  <div class="caracteristicas-principais">
    <div class="item-caracteristica">
      <i class="fas fa-bed"></i>
      <span>{{ imovelDetalhado.caracteristicas.quartos }} Quartos</span>
    </div>
    <div class="item-caracteristica">
      <i class="fas fa-bath"></i>
      <span>{{ imovelDetalhado.caracteristicas.banheiros }} Banheiros</span>
    </div>
    <div class="item-caracteristica">
      <i class="fas fa-expand-alt"></i>
      <span>{{ imovelDetalhado.caracteristicas.tamanho }} m²</span>
    </div>
    <div class="item-caracteristica">
      <i class="fas fa-car"></i>
      <span>{{ imovelDetalhado.caracteristicas.vagas }} Vaga</span>
    </div>
    <div class="item-caracteristica">
      <i class="fa-solid fa-couch"></i>
      <span>{{ imovelDetalhado.caracteristicas.mobilia }} Mobília</span>
    </div>
    <div class="item-caracteristica">
      <i class="fas fa-paw"></i>
      <span>{{ imovelDetalhado.caracteristicas.pet }} Pet</span>
    </div>
  </div>

  <div class="descricao-completa">
    <p>{{ imovelDetalhado.descricao }}</p>
  </div>
  </div>
  </div>

  <div class="footer">
    <div class="icons">
      <i class="fa-brands fa-google"></i>
      <a href="https://github.com/Senai4/imobiliaria"><i class="fa-brands fa-github"></i></a>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
